In [40]:
# Import libraries and dependencies
import pandas as pd
from pathlib import Path
import seaborn as sns 
%matplotlib inline

In [41]:
# Set file paths
np2000_data = Path("hp_2000.csv")
np2007_data = Path("hp_2007.csv")

In [65]:
#Read in CSV Files w/index_col, parse_dates, Datetime format)
housing_data_0 = pd.read_csv(np2000_data, index_col='date', parse_dates=True, infer_datetime_format=True)
housing_data_7 = pd.read_csv(np2007_data, index_col='date', parse_dates=True, infer_datetime_format=True)

In [66]:
housing_data_0.head(3)

              price
date
2000-08-01  106.521
2000-09-01  107.135
2000-10-01  107.728

In [67]:
housing_data_7.head(3)

              price
date
2007-03-01  182.196
2007-04-01  182.134
2007-05-01  181.888

In [69]:
#Check Data Types
housing_data_0.dtypes

price    float64
dtype: object

In [77]:
#Calculate Percent Change for 2000, drop null
housing_2000_pct = housing_data_0.pct_change().dropna()
housing_2000_pct.head()

               price
date
2000-09-01  0.005764
2000-10-01  0.005535
2000-11-01  0.005226
2000-12-01  0.004626
2001-01-01  0.003888

In [76]:
#calculate Percent Change for 2007, drop null
housing_2007_pct = housing_data_7.pct_change().dropna()
housing_2007_pct.head()

               price
date
2007-04-01 -0.000340
2007-05-01 -0.001351
2007-06-01 -0.001886
2007-07-01 -0.003002
2007-08-01 -0.004188