In [14]:
# Import libraries and dependencies
import pandas as pd
from pathlib import Path
import seaborn as sns 
%matplotlib inline

In [18]:
# Set file paths
np2000_data = Path("hp_2000.csv")
np2007_data = Path("hp_2007.csv")

In [20]:
housing_data_0 = pd.read_csv(np2000_data)
housing_data_7 = pd.read_csv(np2007_data)

In [21]:
housing_data_0.head(3)

   2000-08-01  106.52100000000000
0  2000-09-01             107.135
1  2000-10-01             107.728
2  2000-11-01             108.291